<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns='urn:nhibernate-configuration-2.2'>
    <session-factory>

        <property name="dialect">NHibernate.Dialect.PostgreSQL82Dialect</property>
        <property name="connection.connection_string">Server=localhost;Port=5432;Database=test;User ID=postgres;Password=1;Enlist=true;</property>

        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

    </session-factory>
</hibernate-configuration>
